[submodule "database"]
	path = database
	url = git@github.com:JeffersonLab/database.git
[submodule "nuclib"]
	path = nuclib
	url = git@github.com:JeffersonLab/nuclib.git
[submodule "obslib/idis"]
	path = obslib/idis
	url = git@github.com:JeffersonLab/idis.git
[submodule "obslib/ln"]
	path = obslib/ln
	url = git@github.com:JeffersonLab/ln.git
[submodule "obslib/dy"]
	path = obslib/dy
	url = git@github.com:JeffersonLab/dy.git
[submodule "obslib/pion_qT"]
	path = obslib/pion_qT
	url = git@github.com:JeffersonLab/pion_qT.git
[submodule "grids/grids-idis"]
	path = grids/grids-idis
	url = git@github.com:JeffersonLab/grids-idis.git
[submodule "grids/grids-dy"]
	path = grids/grids-dy
	url = git@github.com:JeffersonLab/grids-dy.git
[submodule "grids/grids-dypion"]
	path = grids/grids-dypion
	url = git@github.com:JeffersonLab/grids-dypion.git
